<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'registration/login.js' %}"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required/>
            <input type="password" name="password1" placeholder="Contraseña" required/>
            <input type="password" name="password2" placeholder="Repite contraseña" required/>
            <input type="hidden" name="next" value="{{ next }}"/>
            <button>Crear</button>
            <p class="message">¿Ya estás registrado? <a href="#" onclick="toggle()">Inicia sesión</a></p>
        </form>
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required/>
            <input type="password" name="password" placeholder="Contraseña" required/>
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit">login</button>
            <p class="message">¿No estás registrado? <a href="#" onclick="toggle()">Crea una cuenta</a></p>
        </form>
    </div>
    {% if form.errors %}
        <p class=" label label-danger">
            Ha ocurrido un error, por favor inténtalo de nuevo.
        </p>
    {% endif %}
</div>
</body>
</html>