<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>Salas de chat</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="section-title">Bienvenido, {{ request.user.username }} </h1>

    <div class="mt-5 mb-5">
        <h5 class="section-subtitle mb-3"> ¿A qué sala de chat te gustaría entrar? </h5>
        <div class="row">
            <div class="col-9">
                <input id="room-name-input" type="text">
            </div>
            <div class="col-3">
                <button id="room-name-submit" type="button" class="btn btn-secondary">Entrar</button>
            </div>
        </div>
    </div>
    <br/><br/>
    <a class="btn btn-dark mt-5" href="{% url 'logout' %}">Cerrar sesión</a>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>


</body>
</html>